.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.code-box-demo p {
  margin: 0;
}
.ant-card { margin-bottom: 30px; }
.mainhome{
  background-image: url('https://1.bp.blogspot.com/-6LfVrjGkx_s/WoR3aUwA4TI/AAAAAAAAD_I/Nlf35WxugFkLko7RP30oLqeveFke3IVZwCLcBGAs/s1600/b_bg_0021.png');
  margin-top: 12px;
}
.footer {
  background-color:rgb(136, 137, 138);;

}