<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tao hop dong</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">



</head>
<body>
    <!-- Head  -->
    <div ></div>
    <!-- End Head-->

    <!-- Body -->


    <!-- End Body-->
    <div id ="root"></div>

    <!-- Footer -->



    <!-- End Footer-->

    <!-- Javascript-->
          <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery-3.2.1.min.js"></script>
      <script src="js/popper.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
      <script src="js/jquery.ajaxchimp.min.js"></script>
      <script src="js/mail-script.js"></script>
      <script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
      <script src="vendors/nice-select/js/jquery.nice-select.js"></script>
      <script src="js/mail-script.js"></script>
      <script src="js/stellar.js"></script>
      <script src="vendors/lightbox/simpleLightbox.min.js"></script>
      <script src="js/custom.js"></script>
    
</body>
</html>